<div>
    <br>
    <mat-card>
  
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <mat-label color=blue> Find</mat-label>
          <input align="start" matInput  formControlName="find" #find>
          <mat-hint [ngStyle]="{color: hintColor}">Restaurants, Bars, Cafe, ... </mat-hint>
        </mat-form-field> 

        <br><br>

        <mat-form-field  class="field-full-width">
            <mat-label color=blue> Where</mat-label>
            <input align="start" matInput  formControlName="where" #where>
            <mat-hint [ngStyle]="{color: hintColor}">Near me, ... </mat-hint>

        </mat-form-field>  

        <br><br>

        <mat-form-field  class="field-full-width">
            <mat-label color=blue> Zip-Code</mat-label>
            <input type="number" align="start" matInput  formControlName="zipcode" #zip>
            <mat-hint [ngStyle]="{color: hintColor}">60616, ... </mat-hint>

        </mat-form-field>  

        <mat-divider></mat-divider>
        <br><br>

        <button type="submit" (click)="findPlaces()"  mat-raised-button >
            Go
            &nbsp; &nbsp; &nbsp;
            <mat-icon>search</mat-icon>      
        </button>  
        &nbsp; &nbsp; &nbsp;        
        <button mat-raised-button color="primary" routerLink="/homepage">
          Back
          &nbsp; &nbsp;
          <mat-icon>keyboard_return</mat-icon>    
        </button>           
      </form>
    </mat-card>
  </div>
  
  
 