<mat-card>
    <mat-card-content>
	<section>
		<button mat-raised-button color="primary" routerLink="/homepage">
          Home
          &nbsp; &nbsp; 
          <mat-icon>home</mat-icon>    
        </button>
		</section>
      <section>
        <button mat-raised-button color="primary" routerLink="/list_of_stations">
          Back
          &nbsp; &nbsp; 
          <mat-icon>keyboard_return</mat-icon>    
        </button>
        &nbsp; &nbsp; &nbsp; 
        <mat-form-field>
          <mat-label>Time Range</mat-label>
          <mat-select [(value)]="selected">
            <mat-option selected="selected" value="option1" (click)="plotLineHour('hour')">Hourly Line Chart</mat-option>
            <mat-option  value="option2" (click)="plotLineHour('day')">24 Hour Line Chart</mat-option>
            <mat-option value="option3" (click)="plotLineHour('week')">7 days Line Chart</mat-option>
          </mat-select>
        </mat-form-field> 
        &nbsp; &nbsp; &nbsp; 
        <mat-checkbox class="example-margin" [(ngModel)]="check_sma_30" (click) = "plotSMA30()">SMA 30</mat-checkbox>
        &nbsp;
        <mat-checkbox class="example-margin" [(ngModel)]="check_sma_720" (click) = "plotSMA720()">SMA 720</mat-checkbox>
    </section>
    </mat-card-content>
  </mat-card>

<h2>{{ title }}</h2>
<svg width="900" height="500"></svg>