<br>
<mat-card>
  <mat-card-content>
        <section>
                <button mat-raised-button color="primary" routerLink="/homepage">
                    Home
                    &nbsp; &nbsp;
                    <mat-icon>home</mat-icon>    
                </button> 
            &nbsp; &nbsp; &nbsp;
            <mat-form-field>
                <mat-label>Time Range</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option selected="selected" value="option1" (click)="changeHeatMap(1)">Hourly HeatMap</mat-option>
                    <mat-option  value="option2" (click)="changeHeatMap(24)">24 Hour HeatMap</mat-option>
                    <mat-option value="option3" (click)="changeHeatMap(168)">7 days HeatMap</mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp; &nbsp; &nbsp;
            
        </section>
    </mat-card-content>
</mat-card>
<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" (mapReady)="onMapLoad($event)">
</agm-map>