<div class="container">
  <img class ="image_dis" src="../../../assets/img/chicago.png">
    <div class="btn">
      <button mat-raised-button color="secondry" routerLink="/find">
        Places
        &nbsp; &nbsp; &nbsp;
        <mat-icon>account_balance</mat-icon>
      </button>
      &nbsp; &nbsp; &nbsp;
      <button mat-raised-button color="secondry" routerLink="/heatmap-divvy" >
        Divvy HeatMap
        &nbsp; &nbsp; &nbsp;
        <mat-icon>map</mat-icon>
      </button>
    </div>
</div>