<img class ="image_dis" src="../../../assets/img/chicago.png">
<br>
  <mat-card>
    <mat-card-content>
      <section>
        <button mat-raised-button color="primary" routerLink="/find">
          Places
          &nbsp; &nbsp; &nbsp;
          <mat-icon>home</mat-icon>
        </button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button color="primary" routerLink="/heatmap-divvy">
          Divvy HeatMap
          &nbsp; &nbsp; &nbsp;
          <mat-icon>home</mat-icon>
        </button>
      </section>
    </mat-card-content>
  </mat-card>